.headercontainer {
  position: fixed;
  width: 100vw;
  height: 8vh;
  background: linear-gradient(white, white 90%, #949494 91%, transparent);
  opacity: 0; }

.header {
  width: 100vw;
  box-sizing: border-box;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 2vw 2.5vh 2vw;
  color: #60b158;
  z-index: 1; }
  .header h1 {
    font-size: 3vh;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0; }
  .header a {
    font-size: 2vh;
    margin-left: 1vw;
    color: #C2965D;
    text-decoration: none; }
  .header a:hover {
    border-bottom: 3px solid #C2965D; }

.splash {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .splash .logo {
    width: 20vw;
    animation: logo 1s linear; }
  .splash .arrow {
    position: absolute;
    bottom: 5vh;
    width: 3vw;
    transform-origin: center top;
    animation: arrow 1s linear infinite alternate;
    z-index: -1; }

@keyframes logo {
  from {
    transform: translateY(3vh);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@keyframes arrow {
  from {
    transform: scaleY(1); }
  to {
    transform: scaleY(1.4); } }

.about {
  width: 100vw;
  box-sizing: border-box;
  padding: 10vh 30vw;
  text-align: center;
  background-color: #60b158;
  color: white; }
  .about h1 {
    font-size: 4vh;
    margin-bottom: 5vh; }
  .about p {
    font-size: 2vh;
    line-height: 150%; }

.resume {
  width: 100vw;
  box-sizing: border-box;
  padding: 10vh 15vw;
  text-align: center;
  background: linear-gradient(180deg, #949494, white 0.4%, white);
  color: #60b158; }
  .resume h1 {
    font-size: 4vh;
    margin-bottom: 5vh; }
  .resume img {
    width: 70vw; }

.portfolio {
  width: 100vw;
  box-sizing: border-box;
  padding: 10vh 15vw;
  text-align: center;
  background-color: #60b158;
  color: white; }
  .portfolio h1 {
    font-size: 4vh;
    margin-bottom: 5vh; }
  .portfolio .panel {
    width: 70vw;
    display: flex;
    justify-content: space-between; }
    .portfolio .panel div {
      width: 15vw; }
      .portfolio .panel div img {
        width: 100%; }

.contact {
  width: 100vw;
  box-sizing: border-box;
  padding: 10vh 30vw 30vh 30vw;
  text-align: center;
  background: linear-gradient(180deg, #949494, white 1.5%, white);
  color: #60b158; }
  .contact h1 {
    font-size: 4vh;
    margin-bottom: 5vh; }
  .contact .error {
    color: red; }
  .contact form {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .contact form input, .contact form textarea {
      width: 100%;
      font-size: 2vh;
      margin-bottom: 3vh;
      padding: 1vh;
      resize: none;
      border: 2px solid #C2965D; }
    .contact form input:focus, .contact form textarea:focus, .contact form button:focus {
      outline: 0; }
    .contact form button {
      width: 10vw;
      margin: 1vh 0;
      padding: 1vh 2vw;
      border: 2px solid #C2965D;
      background-color: white;
      font-size: 2vh;
      font-weight: bold;
      color: #C2965D; }
    .contact form button:hover {
      background-color: #C2965D;
      color: white; }
