$green: #60b158;
$darkgreen: #3e7939;
$gold: #C2965D;
$grey: #949494;

.headercontainer {
    position: fixed;
    width: 100vw;
    height: 8vh;
    background: linear-gradient(white, white 90%, $grey 91%, rgba(0, 0, 0, 0));
    opacity: 0;
    z-index: 2;
}

.header {
    width: 100vw;
    box-sizing: border-box;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 2vw 2.5vh 2vw;
    color: $green;
    z-index: 3;

    h1 {
        font-size: 3vh;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
    }

    a {
        font-size: 2vh;
        margin-left: 1vw;
        color: $gold;
        text-decoration: none;
    }

    a:hover {
        border-bottom: 3px solid $gold;
    }
}

.splash {
    width: 100vw; height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    #background {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0; left: 0;
        z-index: -1;
    }

    #voronoi canvas {
        mask-image: url('../mask.png');
        mask-size: contain;
        mask-position: center;
        mask-repeat: no-repeat;
        background-color: $green;
        animation: logo 3s linear;
    }

    .arrow {
        position: absolute;
        bottom: 5vh;
        width: 3vw;
        transform-origin: center top;
        animation: arrow 1s linear infinite alternate;
        z-index: 1;
    }
}

@keyframes logo {
    0% {
        transform: translateY(3vh);
        opacity: 0;
    }
    50% {
        transform: translateY(3vh);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes arrow {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(1.4);
    }
}

.about {
    width: 100vw;
    box-sizing: border-box;
    padding: 10vh 30vw;
    text-align: center;
    background: linear-gradient(180deg, $green, $darkgreen);
    color: white;

    h1 {
        font-size: 4vh;
        margin-bottom: 5vh;
    }

    p {
        font-size: 2vh;
        line-height: 150%;
    }
}

.resume {
    width: 100vw;
    box-sizing: border-box;
    padding: 10vh 15vw;
    text-align: center;
    background: linear-gradient(180deg, $grey, white 0.4%, white);
    color: $green;

    h1 {
        font-size: 4vh;
        margin-bottom: 5vh;
    }

    img {
        width: 70vw;
    }
}

.portfolio {
    width: 100vw;
    box-sizing: border-box;
    padding: 5vh 0;
    text-align: center;
    background: linear-gradient(180deg, $green, $darkgreen);
    color: white;

    h1 {
        font-size: 4vh;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
    }
}

.panel {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: black;

    div {
        width: 25vw; height: 25vw;
        position: relative;
        transition: filter 0.25s;

        img {
            width: 100%;
            transition: filter 0.25s;
        }

        div {
            width: 100%; height: 100%;
            position: absolute;
            top: 0; left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 4vh;
            font-weight: bold;
            transition: opacity 0.25s;
            opacity: 0;
        }

        div:hover {
            opacity: 1;
        }
    }
}

.contact {
    width: 100vw;
    box-sizing: border-box;
    padding: 10vh 30vw 15vh 30vw;
    text-align: center;
    background: linear-gradient(180deg, $grey, white 1.5%, white);
    color: $green;

    h1 {
        font-size: 4vh;
        margin-bottom: 5vh;
    }

    .error {
        color: red;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        input, textarea {
            width: 100%;
            font-size: 2vh;
            margin-bottom: 3vh;
            padding: 1vh;
            resize: none;
            border: 2px solid $gold;
        }

        input:focus, textarea:focus, button:focus {
            outline: 0;
        }

        button {
            width: 10vw;
            margin: 1vh 0;
            padding: 1vh 2vw;
            border: 2px solid $gold;
            background-color: white;
            font-size: 2vh;
            font-weight: bold;
            color: $gold;
        }

        button:hover {
            background-color: $gold;
            color: white;
        }
    }

    .links {
        width: 75%;
        display: flex;
        justify-content: space-around;
        margin: auto;
        padding-top: 10vh;

        div {
            width: 15%;

            img {
                width: 100%;
            }

            p {
                -webkit-margin-before: 1vh;
                font-size: 2vh;
                color: white;
                transition: color 0.25s;
            }
        }
    }
}

.copyright {
    width: 100vw;
    padding: 3vh 3vw;
    background-color: white;
    box-sizing: border-box;
    text-align: right;
    color: $grey;
}
