$green: #60b158;
$gold: #C2965D;
$grey: #949494;

.headercontainer {
    position: fixed;
    width: 100vw;
    height: 8vh;
    background: linear-gradient(white, white 90%, $grey 91%, rgba(0, 0, 0, 0));
    opacity: 0;
    z-index: 2;
}

.header {
    width: 100vw;
    box-sizing: border-box;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 2vw 2.5vh 2vw;
    color: $green;
    z-index: 3;

    h1 {
        font-size: 3vh;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
    }

    a {
        font-size: 2vh;
        margin-left: 1vw;
        color: $gold;
        text-decoration: none;
    }

    a:hover {
        border-bottom: 3px solid $gold;
    }
}

.splash {
    width: 100vw; height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    .logo {
        width: 20vw;
        animation: logo 1s linear;
    }

    .arrow {
        position: absolute;
        bottom: 5vh;
        width: 3vw;
        transform-origin: center top;
        animation: arrow 1s linear infinite alternate;
        z-index: 1;
    }
}

@keyframes logo {
    from {
        transform: translateY(3vh);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes arrow {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(1.4);
    }
}

.about {
    width: 100vw;
    box-sizing: border-box;
    padding: 10vh 30vw;
    text-align: center;
    background-color: $green;
    color: white;

    h1 {
        font-size: 4vh;
        margin-bottom: 5vh;
    }

    p {
        font-size: 2vh;
        line-height: 150%;
    }
}

.resume {
    width: 100vw;
    box-sizing: border-box;
    padding: 10vh 15vw;
    text-align: center;
    background: linear-gradient(180deg, $grey, white 0.4%, white);
    color: $green;

    h1 {
        font-size: 4vh;
        margin-bottom: 5vh;
    }

    img {
        width: 70vw;
    }
}

.portfolio {
    width: 100vw;
    box-sizing: border-box;
    padding: 10vh 15vw;
    text-align: center;
    background-color: $green;
    color: white;

    h1 {
        font-size: 4vh;
        margin-bottom: 5vh;
    }

    .panel {
        width: 70vw;
        display: flex;
        justify-content: space-between;

        div {
            width: 15vw;

            img {
                width: 100%;
            }
        }
    }
}

.contact {
    width: 100vw;
    box-sizing: border-box;
    padding: 10vh 30vw 30vh 30vw;
    text-align: center;
    background: linear-gradient(180deg, $grey, white 1.5%, white);
    color: $green;

    h1 {
        font-size: 4vh;
        margin-bottom: 5vh;
    }

    .error {
        color: red;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        input, textarea {
            width: 100%;
            font-size: 2vh;
            margin-bottom: 3vh;
            padding: 1vh;
            resize: none;
            border: 2px solid $gold;
        }

        input:focus, textarea:focus, button:focus {
            outline: 0;
        }

        button {
            width: 10vw;
            margin: 1vh 0;
            padding: 1vh 2vw;
            border: 2px solid $gold;
            background-color: white;
            font-size: 2vh;
            font-weight: bold;
            color: $gold;
        }

        button:hover {
            background-color: $gold;
            color: white;
        }
    }
}
